<div class="dropdown account__button">
    <button class="account__button hidden-md hidden-lg dropdown-toggle" type="button" id="dropdownMenu2"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       <span class="glyphicon glyphicon-menu-down"></span>

    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation"><a role="menuitem" tabindex="-1"
                                   ui-sref-active="active" ui-sref="page.home.account" href="account_page.html">Account</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref-active="active" ui-sref="page.home.sing" href="logout_page.html">Log out</a>
        </li>
    </ul>
</div>

<div class="dropdown account">
    <a id="dropdownMenu1" class="dropdown-toggle hodden-md hidden-sm" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="true" ui-sref-active="active" ui-sref="page.home.account"  href="#">mur@mera.ru
        <div class="avatar"><img src="img/avatar.svg"></div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref-active="active" ui-sref="page.home.account" href="account_page.html">Account</a>
        </li>
        <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref-active="active" ui-sref="page.home.sing" href="logout_page.html">Log out</a>
        </li>
    </ul>
</div>