#container{
    position: relative;
}

#main-block-list,
#target-block-list{
    background: gray;
    color: white;
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 40px;
    position: relative;
}

.first-block-m,
.second-block-m
{
    background: white;
    color:black;
    width: 100px;
    height: 20px;
    padding: 5px;
    margin: 45px;
    position: static;

}

.first-block-t,
.second-block-t,
.third-block-t{
    background: yellowgreen;
    color:black;
    width: 100px;
    height: 20px;
    padding: 5px;
    margin: 45px;
    position: static;

}



