<button class="menu__button hidden-md hidden-lg">
    <span class="glyphicon glyphicon-align-justify"></span>
</button>

<div class="menu__tabs__toggle hidden-md hidden-lg">
    <ul>

        <li class="tabs__item__toggle active"><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
        <li class="tabs__item__toggle"><a href="#doc" data-toggle="tab">Documents</a></li>
        <li class="tabs__item__toggle"><a href="#img" data-toggle="tab">Images</a></li>
        <li class="tabs__item__toggle"><a href="#req" data-toggle="tab">Requests</a></li>

    </ul>
</div>

<nav class="menu__tabs hidden-sm hidden-xs">

    <ul id="myTab">
        <li class="tabs__item active"><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
        <li class="tabs__item"><a href="#doc" data-toggle="tab">Documents</a></li>
        <li class="tabs__item"><a href="#img" data-toggle="tab">Images</a></li>
        <li class="tabs__item"><a href="#req" data-toggle="tab">Requests</a></li>
    </ul>


    <account-comp></account-comp>

</nav>