/* Small devices (tablets, 768px and up) */

@media (min-width: 768px){
    .hidden-xs{
        display: none !important;
    }
    .menu__tabs__toggle ul{

        margin: 0;
        padding: 0;
        list-style-type: none;
        float: left;
        background-color: #8282b7;
        color: red;
        position: absolute;
        top:60px;
        right: 400px;

    }

    .menu__tabs__toggle ul li{
        display: block;
    }

}

@media (min-width: 768px) and (max-width: 992px){
    .hidden-sm{
       display: none !important;
    }

}

@media (max-width: 992px){
    .hidden-sm
    {
        display: none !important;
    }

    .menu__tabs__toggle{

    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    background-color: #8282b7;
        color: red;
        position: absolute;
        top:60px;
        right: 400px;

    }

    .menu__tabs__toggle ul li{
    display: block;
    }

}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1200px){
  .hidden-md{
      display: none !important;
  }
}

@media (min-width: 1200px){
    .hidden-lg{
        display: none !important;
    }
}






