<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
    <meta charset="UTF-8">
    <title>$broadcast</title>

    <link href="../Libraries/bootstrap.css" rel="stylesheet"/>
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet">
    <script src="../Libraries/angular.js"></script>

    <script>
       var app = angular.module("sampleApp", [])
       app.controller("senderCtrl", function($scope, $rootScope){

          $scope.send = function(){
              $rootScope.$broadcast("messageEvent", {
                  message: $scope.messageInput
              });
          }
       });

        app.controller("receiverCtrl", function($scope){

          $scope.$on("messageEvent", function (event, args){
             $scope.info = args.message;
          })
       });
    </script>

</head>

<body>
<div ng-controller="senderCtrl">
    <p>Sender</p>
    <input ng-model="messageInput"/>
    <button ng-click="send()">Send</button>
</div>

    <div ng-controller="receiverCtrl">
        <p>Receiver 1</p>
        <p>Receiver message - {{info}}</p>
    </div>

<div ng-controller="receiverCtrl">
    <p>Receiver 2</p>
    <p>Receiver message - {{info}}</p>
</div>



</body>
</html>