<div class="content__container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="doc" ng-repeat="doc in $ctrl.docs">
                        <li>
                            <span>{{doc.name}}</span>
                            <p>{{doc.type}}</p>
                        </li>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="doc"></div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="doc"></div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="doc"></div>
                </div>
            </div>
        </div>
    </div>
</div>
