<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
    <meta charset="UTF-8">
    <title>Reusing Ctrl</title>

    <link href="../Libraries/bootstrap.css" rel="stylesheet"/>
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet">
    <script src="../Libraries/angular.js"></script>

    <script>
       angular.module("sampleApp", [])
       .controller("defaultCtrl", function($scope){

          $scope.value = "------";
          $scope.setNewValue = function(){
              $scope.value = "Hello world!";
          };
       });
    </script>

</head>

<body>
<div ng-controller="defaultCtrl">
    {{value}} <br/>
    <button ng-click="setNewValue()">Change</button>
</div>
<div ng-controller="defaultCtrl">
    {{value}} <br/>
    <button ng-click="setNewValue()">Change</button>
</div>

</body>
</html>