<div class="row">
    <div class="blur"></div>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="dashboard">

            <div>
                <div class="doc__title">Documents</div>
                <div><a class="view__all" href="#">View all</a></div>
            </div>
            <list-comp></list-comp>

            <div>
                <div class="img__title">Images</div>
                <div><a class="view__all" href="#">View all</a></div>
            </div>
            <list-comp></list-comp>

            <div>
                <div class="req__title">Requests</div>
                <div><a class="view__all" href="#">View all</a></div>
            </div>
            <list-comp></list-comp>

        </div>


        <div class="tab-pane fade" id="doc">
            <list-comp></list-comp>
        </div>

        <div class="tab-pane fade" id="img">
            <list-comp></list-comp>
        </div>

        <div class="tab-pane fade" id="req">
            <list-comp></list-comp>
        </div>

    </div>
</div>